<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Ansible Apache Server</title>
</head>
<body>
    <h1>Hello from {{ ansible_hostname }}</h1>
    <p>Apache was deployed with Ansible on Azure</p>
</body>
</html>
